/* Modified prose classes for heading elements */
.prose h1 {
  color: #1a202c;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose h2 {
  color: #1a202c;
  font-weight: 550;
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose h3 {
  color: #1a202c;
  font-weight: 500;
  font-size: 1.125em;
  margin-top: 1.4em;
  margin-bottom: 0.4em;
  line-height: 1.4;
}


.prose h4 {
  color: #1a202c;
  font-weight: 450;
  margin-top: 1.3em;
  margin-bottom: 0.3em;
  line-height: 1.3;
}

