<!DOCTYPE html>
<html>
  {% include head.html title=page.title %}
  <body class="flex flex-col h-screen overflow-hidden">
    {% include header.html title=page.title %}
    {% include navigation.html %}
    <div class="flex-grow flex flex-col justify-between py-4 px-48 text-gray-900 text-lg overflow-y-scroll">
      <div class="flex flex-col py-3">
        {{content}}
  
        <ol class="w-3/4 list-decimal list-inside text-2xl text-blue-600 bg-gray-100 p-6 rounded-lg shadow-md self-center">
          {% assign mypages = site["experiments"] | sort: 'order' %}
          {% for item in mypages %}
            {% if item.order %}
              <li>
                <a 
                {% if item.url contains "html" %}
                  href="{{item.url | relative_url }}"
                {% else %}
                  href="{{item.url | relative_url }}.html"
                {% endif %}
                >
                  {{ item.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
	<div class="flex flex-row pt-3">
		<h2>{{page.sponsor.blurb}}<a href="{{page.sponsor.url}}" target="_blank" class="text-blue-800"> {{page.sponsor.name}} </a></h2> 
		<img src="{{page.sponsor.image}}" title="{{page.sponsor.blurb}} {{page.sponsor.name}}" class="px-2 h-24 inline"> 
	</div>  
    </div>
    {% include footer.html %}
  </body>
</html>
